<form [formGroup]="contactForm" (ngSubmit)="save()" class="h-full">
  <div fxLayout="column" fxLayoutGap="20px" class="form-content">
    <div class="input-row">
      <mat-card fxFlex>
        <mat-card-header>
          <mat-card-title>{{ 'add.head' | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
            <mat-form-field fxFlex>
              <input matInput type="text" color="primary" placeholder="{{ 'add.brand' | translate }}" [disabled]="ocultar"
                formControlName="brand" name="catalogo-brand" required />
                <mat-error>{{'add.brand'| translate}}</mat-error>
            </mat-form-field>
          </div>
          <div class="input-row">
            <mat-form-field fxFlex>
              <input matInput type="text" color="primary" placeholder="{{ 'add.model' | translate }}"
                formControlName="model" name="catalogo-model" required />
                <mat-error>
                  {{'add.model'| translate}}
                </mat-error>
            </mat-form-field>
          </div>
          <div class="input-row">
            <mat-form-field fxFlex>
              <input matInput type="text" color="primary" placeholder="{{ 'add.price' | translate }}"
               formControlName="price" name="catalogo-price" required/>
                <mat-error>
                 {{'add.price'| translate}}
                </mat-error>
            </mat-form-field>
          </div>
          <div class="input-row">
            <mat-form-field fxFlex>
              <input matInput type="text" color="primary" placeholder="{{ 'add.colour' | translate }}"
                formControlName="colour" name="catalogo-colour" required />
                <mat-error>
                  {{'add.colour'| translate}}
                </mat-error>
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div fclass="input-row" xLayoutGap="20px" fxLayoutAlign="center center">
            <button fxFlex="25" fxFlex.xs="30" mat-raised-button type="button" (click)="cancel()" *ngIf="isAuthenticated()"
              [formNoValidate]="true">{{ 'button.cancel' | translate }}</button>
            <button fxFlex="25" fxFlex.xs="30" mat-raised-button type="submit" color="primary" *ngIf="isAuthenticated()"
              [disabled]="!contactForm.valid">{{ 'button.save' | translate }}</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</form>
